.carousel-indicators {
    bottom: -4rem !important ;
}
.indicator {
    background-color: rgb(163, 99, 99) !important;
   
    width: 14px !important;
    height: 8px !important;
   

    
   
    border-radius: 3px !important;
}
.content {
    padding-top: 3rem;
   
}
